/* Variables */

:root {
    --PColor: #4a4a4a;
    --SColor: #3a3a3a;
    --TColor: #2a2a2a;
    --IdleColor: #cfcfcf;
    --TxtColor: #ffffff;
    --ErrColor: #ff5252;
    --LinkColor: #ff00ff;
}

/* General Settings */

body {
    margin: 20px 0;

    color: var(--TxtColor);
    background-color: var(--TColor);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#Error {
    color: var(--ErrColor);
    font-size: 15px;
    text-align: center;
}

a {
    color: var(--LinkColor);
    background-color: var(--TColor);
    border-radius: 5px;
    padding: 4px 4px;
}

/* Form CSS */

.Search {
    text-align: center;
    margin: 10px;
    width: 80%;
}

.Search button {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;

    background-color: var(--IdleColor);

    padding: 4px 2px;
    margin: 10px;

    text-align: center;
    font-size: 20px;

    height: 40px;
    width: 50%;
    transition-duration: .50s;
}

.Search button:hover {
    width: 60%;
    background-color: white;
}

.Search input {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;

    padding: 10px 8px;
    margin: 10px;

    background-color: var(--IdleColor);

    text-align: left;
    font-size: 20px;

    height: 40px;
    width: 60%;
    transition-duration: .50s;
}

.Search input:hover {
    width: 70%;
    background-color: white;
}

.Search input:focus {
    width: 75%;
    background-color: white;
}

::placeholder {
    color: var(--SColor);
}

/* Profile Container */

#Container {
    background-color: var(--PColor);
    border-radius: 10px;

    position: relative;
    height: 30%;
    width: 50%;
    text-align: center;
}

#Container hr {
    border: 1px solid var(--SColor);

    width: 95%;
}

#Container img {
    margin: 10px;

    border: 10px solid var(--SColor);

    border-radius: 50%;
    width: 40%;
    height: 40%;
}

#TxtContainer {
    background-color: var(--TColor);
    border-radius: 10px;

    font-size: 20px;

    margin: 10px;
    padding: 4px 4px;
}
