* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(39, 39, 39);
}

h1 {
    font-size: 60px;
}

input {
    margin: 10px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    font-size: 20px;
    color: black;
    text-align: left;
    height: 40px;
    width: 500px;
    padding: 10px;
    transition-duration: 500ms;
}

input:focus {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 510px;
}

button {
    margin: 20px;
    transition-duration: 500ms;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    font-size: 20px;
    color: rgb(75, 75, 75);
    height: 40px;
    width: 500px;
    padding: 10px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 505px;
}

div {
    display:inline-block;
    text-align: left;
    font-size: 30px;
    color: white;
    background-color: #121212;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    width: 600px;
}

div img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}